/* debug menu */
.Container {
  width: 800px;
}

.bg-happyfisher {
  filter: blur(64px);
  background-size: 120%;
  background-image: radial-gradient(at 71% 77%, #259BE5 0, transparent 21%), radial-gradient(at 36% 47%, #66a6ff 0, transparent 50%), radial-gradient(at 54% 29%, #66a6ff 0, transparent 28%), radial-gradient(at 45% 51%, #259BE5 0, transparent 53%), radial-gradient(at 73% 44%, #89f7fe 0, transparent 54%), radial-gradient(at 24% 7%, #89f7fe 0, transparent 40%), radial-gradient(at 75% 46%, #259BE5 0, transparent 50%)
}

.gg-search {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: calc(16px * var(--ggs,1));
  height: calc(16px * var(--ggs,1));
  border: calc(2px * var(--ggs,1)) solid;
  border-radius: 100%;
  margin-left: -calc(4px * var(--ggs,1));
  margin-top: -calc(4px * var(--ggs,1));
}
.gg-search::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: calc(3px * var(--ggs,1));;
  width: calc(2px * var(--ggs,1));;
  height: calc(8px * var(--ggs,1));
  background: currentColor;
  transform: rotate(-45deg);
  top: calc(10px * var(--ggs,1));
  left: calc(12px * var(--ggs,1));
}

/* reset */
button {
  all: unset;
}

.SelectTrigger {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 13px;
  line-height: 1;
  height: 35px;
  gap: 5px;
  background-color: white;
  color: var(--violet11);
  box-shadow: 0 2px 10px var(--blackA7);
}
.SelectTrigger:hover {
  background-color: var(--mauve3);
}
.SelectTrigger:focus {
  box-shadow: 0 0 0 2px black;
}
.SelectTrigger[data-placeholder] {
  color: var(--violet9);
}

.SelectIcon {
  color: Var(--violet11);
}

.SelectContent {
  overflow: hidden;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2);
}

.SelectViewport {
  padding: 5px;
}

.SelectItem {
  font-size: 13px;
  line-height: 1;
  color: var(--violet11);
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 35px 0 25px;
  position: relative;
  user-select: none;
}
.SelectItem[data-disabled] {
  color: var(--mauve8);
  pointer-events: none;
}
.SelectItem[data-highlighted] {
  outline: none;
  background-color: var(--violet9);
  color: var(--violet1);
}

.SelectLabel {
  padding: 0 25px;
  font-size: 12px;
  line-height: 25px;
  color: var(--mauve11);
}

.SelectSeparator {
  height: 1px;
  background-color: var(--violet6);
  margin: 5px;
}

.SelectItemIndicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.SelectScrollButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  background-color: white;
  color: var(--violet11);
  cursor: default;
}
