/* debug menu */
.Container {
  width: 800px;
  height: 500px;
}

.gg-search {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: calc(16px * var(--ggs,1));
  height: calc(16px * var(--ggs,1));
  border: calc(2px * var(--ggs,1)) solid;
  border-radius: 100%;
  margin-left: -calc(4px * var(--ggs,1));
  margin-top: -calc(4px * var(--ggs,1));
}
.gg-search::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: calc(3px * var(--ggs,1));;
  width: calc(2px * var(--ggs,1));;
  height: calc(8px * var(--ggs,1));
  background: currentColor;
  transform: rotate(-45deg);
  top: calc(10px * var(--ggs,1));
  left: calc(12px * var(--ggs,1));
}
